@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');


/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font-weight: normal;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }

/* GENERAL */
body {
    background-color: black;
    color: white;
    font-family: 'Play', sans-serif;
}

.botao {
    background-color: transparent;
    border-radius: 20px;
    border: solid 2px red;
    color: red;
    cursor: pointer;
    font-family: inherit;
    font-size: 10pt;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    user-select: none;
    width: min-content;
    white-space: nowrap;
}
.botao:hover {
    background-color: red;
    color: black;
    transition: 100ms;
}

.icone {
    font-family: 'Material Icons';
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 30pt;
    border-radius: 50%;
    user-select: none;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    color: white;
}
header img {
    position: absolute;
    height: 35px;
    margin: 10px;
    pointer-events: none;
    user-select: none;
}
header h1 {
    padding: 10px 20px;
    font-size: 27pt;
    font-family: 'Tourney';
    user-select: none;
}
.header-links {
    display: flex;
    align-items: center;
    user-select: none;
    height: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
}
nav li {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 10pt;
}
nav a {
    color: white;
    height: 100%;
    padding: 20px 0px;
}
nav a:hover {
    color: red;
    transition: 100ms;
}

/* SECTIONS */
section h1 {
    font-weight: bold;
    font-size: 22pt;
    margin: 4px 0px;
}
section p {
    font-size: 14pt;
    text-align: justify;
}

.sec1 {
    align-items: center;
    justify-content: space-around;
    display: flex;
    max-width: 1920px;
    min-height: 800px;
    background-image: url("pics/sec1_bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.sec1 .botao {
    margin-top: 20px;
}

.sec1-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 40px;
    background-color: rgba(0,0,0,0.9);
    border-radius: 10px;
}
.sec1-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1-box img {
    user-select: none;
    height: 300px;
}

.sec2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    background: #a00000;
}
.sec2-article {
    margin: -140px 20px 20px 20px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 100ms;
}
.sec2-article:hover {
    box-shadow: 0px 0px 2px 4px rgba(255, 255, 255, 0.5);
    background-size: 110% 110%;
}
.sec2-article p {
    width: 100%;
    padding: 20px;
    text-align: justify;
    background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.9) 10%);
}
.sec2-article-links {
    font-family: 'Material Icons';
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background: rgba(0,0,0,0.9);
    cursor: pointer;
}
.round-icon {
    font-family: 'Material Icons';
    background-color: white;
    color: black;
    font-size: 20pt;
    padding: 8px;
    border-radius: 50%;
    user-select: none;
}
.round-icon:hover {
    color: red;
    transition: 100ms;
}

.sec3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background: linear-gradient(135deg, #300000 40%, #a00000 100%);
}
.sec3 .contact-info {
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.centered-evenly-column {
    text-align: center; 
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.sec3 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.contact-line {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer {
    align-items: center;
    text-align: center;
}

footer p {
    font-size: 22pt;
    font-family: 'Tourney';
    user-select: none;
    margin: 30px;
}